p, li {
        font-family:"Helvetica", serif;
        font-size:130%;
        }

li { margin-bottom:8px; }
span.red { color:red; }
span.green { color:green; }

/* Hide the bullets in lists */
ul.hidden_bullets { list-style-type: none; }

/* Header navigation bar */
div #top_navigation { width:100%; }
div #top_navigation button { width:25%; }

/* The container holds everything and sets it to a fixed width */
#container {
	margin: 0 auto;
	width: 700px;
	background:#fff;
	}

/* Above the navigation bar */
#header {
	background:#FFF;
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
	padding-bottom: 15px;
	color:#555;
	}

/* Above the navigation bar */
#header h1 {
	font-family:"Helvetica";
	font-size:220%;
	margin-bottom:10px;
	text-align:right;
	color:#555;
	}

#header img.logo_small {
	margin-top:6px;
	float:left;
	}

/* The main content of each page */
#content {
	padding: 20px;
	}

/* The main content of each page */
#content p {
	line-height:170%;
	}

/* The main content of each page */
#content h2 {
	color:#0F8DD1;
	font-size: 160%;
	margin: 1em 0 .5em;
	}

/* For underlining a title */
#content h2.top {
	border-bottom: 1px solid #BBB;
        }

/* General image alignment styling */
img.left_aligned {
	float:left;
	margin-right:30px;
	margin-bottom:30px;
	}

/* General image alignment styling */
img.centered {
        display:block;
        margin-left: auto;
        margin-right: auto;
        }   

/* General image alignment styling */
img.right_aligned {
	float:right;
	margin-top:30px;
	margin-left:25px;
	margin-bottom:40px;
	}

/* Visual divider between the main content and the footer */
#footer_divider {
	background:#FFA523;
	padding: 3px;
	height: 2px;
	}

/* The blue text below the footer divider */
#footer {
	text-align: right;
	padding: 20px;
	height: 50px;
	color:#0F8DD1;
	font-size:130%;
	font-variant:small-caps;
	}

/* Previous page and next page navigation div */
div.bottom_nav  {
	display: table;
	clear:both;
	margin-left:20px;
	margin-bottom:20px;
	} 

/* Previous page and next page navigation buttons */
div.bottom_nav button {
	display:inline-block;
        width:230px;
	text-align:center;
        }

/* Radial progress bar */
#progress_bar {
        display: table-cell;
        vertical-align:middle;
        color:#0F8DD1;
        font-size:18px;
        width:185px;
        text-align:center;
        }  

@media print {    
        #navigation { display: none !important; }
        #footer { display: none !important; }
        #left_button { display: none !important; }
        #right_button { display: none !important; }
        #page_number { margin-top: 20px !important; margin-left: 200px !important; }
        #progress_bar { display: none !important; }
        .btn-group { display: none !important; }
        a:before,a:after { content:""; } 
        img.logo_small { display: none !important; }
        div.print_legend { display: none !important; }
	}


#map_canvas {
        width: 500px;
        height: 400px;
      }
