div.tableContainer {
	height:450px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	overflow-y: scroll;
	}

#hor-minimalist-b {
	font-family: "Helvetica", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin-top: 0px;
	margin-bottom: 40px;
	width:100%;
	min-width: 900px;
	border-collapse: collapse;
	text-align: left;
}

#hor-minimalist-b th {
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	padding: 0px 8px;
	border-bottom: 2px solid #555;
}

#hor-minimalist-b th:hover {
	color:red;
	}

td {
	text-align:center;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 0px 0px;
	vertical-align:top;
	font-size: 14px;
	line-height:22px;
}

tr.done_appointment td {
	color:#FF9640;
	}

tr:hover td {
	background-color:#DDD;
	}

h1 { text-align:center; margin-bottom:40px; }
